<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Suppress Flink debug and info logs -->
    <logger name="org.apache.flink" level="ERROR" />
    <logger name="org.apache.flink.runtime" level="ERROR" />
    <logger name="org.apache.flink.runtime.dispatcher" level="ERROR" />
    <logger name="org.apache.flink.runtime.rest" level="ERROR" />

    <!-- Specific loggers -->
    <logger name="org.apache.flink.api.scala.ClosureCleaner$" level="ERROR" />
    <logger name="org.apache.flink.api.java.ClosureCleaner" level="ERROR" />
</configuration>